# chatterbot
pytz==2023.3.post1
websockets==12.0
flask-socketio
flask==3.0.0
selenium~=4.22.0
pygame~=2.6.0
click~=8.1.7
openai-whisper
gradio~=4.44.0
scipy~=1.14.1
numpy~=1.26.4
pandas~=2.2.2
langchain
langchain-openai
langserve[all]~=0.3.0
sse_starlette
langchain_community
nltk~=3.9.1
gensim~=4.3.3
langchain-chroma
langchain-mongodb
pymongo~=4.9.1
pinecone~=5.3.1
langchain-pinecone
transformers==4.38.2
tiktoken~=0.7.0
pymysql
uvicorn~=0.30.6
fastapi~=0.115.0
opencv-python
openpyxl
pypdf
beautifulsoup4